<div class="container">
  <div class="card" style="width: 25rem;">
    <h4 class="card-header">update profile</h4>
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onEdit(details)">
        <div class="form-group">

          <input type="text" formControlName="first_name" name="first_name" class="form-control"
            placeholder="Enter First name" />
        </div>
        <div class="form-group">

          <input type="text" formControlName="last_name" name="last_name" class="form-control"
            placeholder="Enter last name" />
        </div>
        <div class="form-group">

          <input type="text" formControlName="email" name="email" class="form-control" placeholder="Enter Email" />
        </div>
        <button type="submit" [disabled]="disabledSubmitButton"
          class="btn btn-lg btn-block btn-success">Enregistrer</button>
        <button type="submit" (click)="goBack()" class="btn btn-lg btn-block btn-secondary">Retour</button>
      </form>
    </div>
  </div>
</div>
