/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
 @import "~bootstrap/dist/css/bootstrap.css";
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
  padding-top: 56px;
}
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
