<div class="container">
  <div class="card">
    <div class="card-body">
      <p class="text-center">Merci {{name}} pour votre done</p>
      <button class="btn btn-primary" [routerLink]="['/']" routerLinkActive="active">Accueil</button>
    </div>
  </div>
</div>
