@import url('https://fonts.googleapis.com/css?family=Courgette|Niconne|Ubuntu:500&display=swap');

.container {
  margin: 27vh auto;
  vertical-align: middle;
}
.card {
  margin: auto;
  width: 40%;
  height: 30vh;
  vertical-align: middle;
  background-color: #dfe6e9;
}
p {
  font-size: 1.6rem;
  font-family: 'Courgette', cursive;
  color: #1a2fe7;
}
.btn {
  margin-left: 10%;
  vertical-align: middle;
}
.card-body {
  margin-top: 15%;
}
@media only screen and (max-width: 420px) {
  p {
  font-size: 1rem;
  font-family: 'Courgette', cursive;
  color: #1a2fe7;
}
}
