 li {
list-style: none;
color: black;
font-weight: 500;
}
.container {
  margin-top: 5vh;
}
.img {
  height: 13vh;
  margin: 4vh 1vh;
}
.title {
  text-align: center;
  color: brown;
}

.card-title {
  text-align: center;
  color: brown;
  font-weight: 800;

}
.card {
  margin: 5vh auto ;
}
.label {
  color: blue;
  font-weight: 700;
}
