<div class="container">
  <h1 class="title">Notre équipe</h1>
  <div class="row card-group">
    <div class="col-4" *ngFor="let user of users">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/logo1.png" class="card-img-top img" alt="...">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <li><span class="label">First name: </span>{{user.first_name}} </li>
          <li><span class="label">Last name: </span>{{user.last_name}}</li>
          <li><span class="label">Email: </span>{{user.email}}</li>
        </div>
      </div>
    </div>
  </div>
</div>
