@import url('https://fonts.googleapis.com/css?family=Courgette|Niconne|Ubuntu:500&display=swap');

.hero {
width: 100%;
height: 85vh;
min-width: 100%;
position: relative;
display: none;
}
.hero::before {
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
 background-image: linear-gradient(to bottom,rgba(0,0,0,.45),rgba(0,0,0,.45)),url('../../assets/hands.jpg');

}

.img {
  height: 85vh;
  }
 .carousel-caption {
  bottom: 30vh;

}

.logo {
  margin-top: 5vh;
  height: 20vh;
}

p {
  font-size: 1.5em;
  margin-left: 5vw;
   font-weight: 700;
   color: #ffffff;
   font-family: 'Work Sans', sans-serif;
   background: rgba(0, 0, 0, 0.35);
   margin-top: 10vh;

}
.btn {
 margin-left: 1.3em;

}
.input {
  margin: 6vw;
}

 @media only screen and (max-width: 768px) {
   .hero {
     display: block;
min-width: 100%;
height: 89vh;
right: 0;
background: cover;
}
.logo {
  margin-top: 10vh;
  height: 10vh;
  vertical-align: middle;
}

.carousel-item ,.carousel-indicators,
 .carousel-caption, .carousel-control-prev,
 .carousel-control-next {
  display: none;
}
 }
@media only screen and (max-width: 668px) {
  .container {
   width: 100vw;
}
.hero {
min-width: 100%;
height: 75vh;
min-width: 100%;
right: 0;
background: cover;
}

p {
  font-size: 1em;
   font-weight: 700;

}
}
@media only screen and (max-width: 414px) {
.hero {
min-width: 100%;
height: 85vh;
min-width: 100%;
right: 0;
background: cover;
}
}
@media only screen and (max-width: 360px) {
 .logo {
  margin-top: 2vh;
  height: 15vh;
  vertical-align: middle;
}

p {
  font-size: 0.8em;
   font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.btn {
 margin-left: 0.9em;
 font-size: xx-small;
}
.hero {
min-width: 100%;
height: 83vh;
min-width: 100%;
right: 0;
background: cover;
}

}
