<div class="hero">
    <div class="container">
    <div >
      <img class="logo" src="../../assets/logo1.png">
        <p>Voust êtes Homme!, Femme!...<br>
          Vous avez Besoin d'aide!, vous voulez aider les autres!, Vous pouvez nous contacter, vous pouvez également
          rejoindre notre
          équipe en <a [routerLink]="['register']">créant un compte</a></p>
          <div class="input">
        <button class="btn btn-success" [routerLink]="['contact']" routerLinkActive="active">Contact</button>
        <button mat-raised-button class="btn btn-primary" (click)="openDialog()">Faire un don de 25€</button>
      </div>
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/plante.jpg" class=" img d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <img src="../../assets/logo1.png" alt="">
        <p>C’est une association non gouvernementale. Qui a été créée en 2018 par un groupe de jeunes volontaires désireux d’aider
        ceux qui en ont besoin.<br>
          Pour plus d'information veuillez nous contacter.</p>
          <button class="btn btn-success" [routerLink]="['contact']" routerLinkActive="active">Contact</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/3858.jpg" class="img d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <img src="../../assets/logo1.png" alt="">
        <p>Les personnes ciblées prioritairement sont les enfants sans parents et sans domicile fixe, les enfants qui quittent
        l'école à cause de la pauvreté. Le but de l'association c'est de mettre en relation les personnes qui ont besoin d’aide
        et celles qui veulent aider. Elle accepte les dons soit des matériels (vêtements, argents, livres etc.) soit de l'argent.</p>
        <button mat-raised-button class="btn btn-primary" (click)="openDialog()">Faire un don de 25€</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/64857.jpg" class="img d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <img src="../../assets/logo1.png" alt="">
        <p>Si vous voulez aider les autres volontairement. Notre association est le lieu idéal.
          On visite régulièrement les familles pauvres pour proposer l'aide aux élèves. On organise
        aussi les concerts dont les bénéfices vont aux buts de l’association.
      Vous pouvez regoindre notre équipe.</p>
      <button class="btn btn-primary" [routerLink]="['register']" routerLinkActive="active">Créer votre compte</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
