<div class="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9 box">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image img">
              </div>
              <div class="col-lg-6">
                <div>
                  <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">Nous contacter</h4>
                  </div>
                  <form class="text-center contact border border-light"[formGroup]="contactForm"
                    (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="name" id="defaultContactFormName" mdbInput
                      class="form-control mb-4" placeholder="Name">
                    <input type="email" formControlName="email" id="defaultContactFormEmail" mdbInput
                      class="form-control mb-4" placeholder="E-mail">
                    <input type="text" formControlName="phone" id="defaultContactFormSubject" mdbInput
                      class="form-control mb-4" placeholder="Télephone">
                    <div class="form-group">
                      <textarea formControlName="message" class="form-control rounded-0" mdbInput
                        id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button mdbBtn color="info" outline="true" block="true" class="btn btn-primary btn-block"
                      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer</button>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
