.hero {
width: 100%;
height: 85vh;
min-width: 100%;
position: relative;
}
.hero::before {
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
background-image: linear-gradient(to bottom,rgba(0,0,0,.45),rgba(0,0,0,.45)),url('../../assets/hands.jpg');


}
 .card {
  padding: 3vh;
  margin: auto;
  max-width: 60%;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }

.img {
  background: url('../../assets/contact.jpg');
  margin-top: 4em;
}


@media only screen and (max-width: 1024px)
 {
.card {
  padding: 3vh;
  margin: auto;
  max-width: 80%;
    justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }
 .box {
   margin-top: 18vh;
   height: 50vh;
 }
 .hero {
width: 100%;
height: 92vh;
min-width: 100%;
position: relative;
}
 }
@media only screen and (max-width: 768px)
{
  .card {
  padding: 3vh;
  margin: auto;
  max-width: 90%;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }
  .hero {
width: 100%;
height: 89vh;
min-width: 100%;
position: relative;
}
}
@media only screen and (max-width: 420px)
{
  .card {
  padding: 3vh;
  margin: auto;
  max-width: 90%;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }
  .hero {
width: 100%;
height: 85vh;
min-width: 100%;
position: relative;
}
.box {
   margin-top: 4vh;
   height: 40vh;
 }
}
@media only screen and (max-width: 375px) {
.box {
   margin-top: 1vh;
   height: 24vh;
 }
   .hero {
width: 100%;
height: 84vh;
min-width: 100%;
position: relative;
}
.card {
  padding: 1vh;
  margin: auto;
  height: 62vh;
  max-width: 90%;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }
}
@media only screen and (max-width: 320px)
 {
    .box {
      height: 20vh;
 }
   .hero {
width: 100%;
height: 80vh;
min-width: 100%;
position: relative;
}
.card {
  padding: 0.5;
  margin-top: 0;
  height: 70vh;
  max-width: 90%;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

 }
 h4 {
   font-size: 1rem;

 }
 input {
   padding: 0;
 }
 }
