<nav class="navbar navbar-expand-md navbar-dark  fixed-top main-nav">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/logo1.png"></a>
    <button (click)="toggleNavbar()" class="navbar-toggler text-info custom-toggler" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">L'association
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['calender']">Evénements</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a class="nav-link" [routerLink]="['register']">Inscription</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a class="nav-link" [routerLink]="['login']">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">Contact</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" [routerLink]="['dashboard']">Equipe</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" [routerLink]="['profile']"
            routerLinkActive="active">{{auth.getUserDetails() ?.first_name}}</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" [routerLink]="" (click)="auth.Logout()" routerLinkActive="active">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
