@import url('https://fonts.googleapis.com/css?family=Courgette|Dosis:700|Niconne&display=swap');

.logo {
  height: 4vh;
}
.nav-link  {
  font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
}
 .navbar {
   background-color: #dedfe7;
 }
nav .navbar-nav li a{
  color: #a50808 !important;
  }
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
