<div class="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image img"></div>
              <div class="col-lg-6">
                <div class="p-3">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4 title">Créer votre compte!</h1>
                  </div>
                  <form [formGroup]="inscriptionForm" (ngSubmit)="register()">
                         <div class="form-group">
                        <input type="text" formControlName="first_name" class="form-control"
                          placeholder="Enter First name"
                          [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                        <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                          <div *ngIf="f.first_name.errors.required">First Name is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" formControlName="last_name" class="form-control"
                          placeholder="Enter last name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                        <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                          <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                      <input type="text" formControlName="email" class="form-control" placeholder="Enter Email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control"
                        placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" mdbWavesEffect>Submit</button>
                    <div *ngIf="errorMsg">{{ messageError}}</div>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/login" routerLinkActive="active">Déjâ inscrit? connectez-vous!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
