.hero {
width: 100%;
height: 85vh;
position: relative;
}
.hero::before {
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
background-image: linear-gradient(to bottom,rgba(0,0,0,.45),rgba(0,0,0,.45)),url('../../assets/hands.jpg');
}

.card {
  margin: 15vh;

}

.card-header {
   color: darkblue;
   font-weight: 700;
   font-size: 20px;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
 }

.img {
 background-image: url('../../assets/comp.jpg');
 background-size: cover;
 border: #ffffff 5px solid;

}

.title {
 font-size: 1.1rem;
 font-weight: 500;
 color: blue;
}

@media only screen and (max-width: 1024px){
  .card {
  margin-top: 20vh;

}
 .form-cotrol {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 768px){
  .card {
 width: 100%;
 margin-left: auto;

}

}
@media only screen and (max-width: 375px) {
 .hero {
width: 100%;
height: 83vh;
min-width: 100%;
position: relative;
}
.card {
  margin-top: 10vh;

}
}
