<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">Profil</h1>
    </div>
    <table class="col-md-6 mx-auto">
      <!-- <tr>
        <td>User No</td>
        <td>{{details?.id}}</td>
      </tr> -->
      <tr>
        <td>First name</td>
        <td>{{details?.first_name}}</td>
      </tr>
      <tr>
        <td>Last name</td>
        <td>{{details?.last_name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{details?.email}}</td>
      </tr>
      <button type="button" (click)="delete(details?.id)" class="btn btn-outline-danger"><i
          class="far fa-trash-alt"></i></button>
      <button type="button" (click)="edit(details?.id)" class="btn btn-outline-success"><i
          class="fas fa-pencil-alt"></i></button>
    </table>
  </div>
</div>
