.card {
  padding: 1vh;
  margin: 20vh auto;
  max-width: 600px;
  justify-items: center;
   box-shadow: 3px 5px 5px 0 cadetblue;

}

.card-header {
   margin: 20px;
   color: darkblue;
   font-weight: 700;
   font-size: 15px;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
 }
 .btn {
   margin-left: 1em;
   margin-top: 1em;
 }
