.hero {
width: 100%;
height: 85vh;
min-width: 100%;
position: relative;
}
.hero::before {
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
background-image: linear-gradient(to bottom,rgba(0,0,0,.45),rgba(0,0,0,.45)),url('../../assets/hands.jpg');
}
.card {
  margin-top: 15vh;
}
 .btn {
   width: 100%;
 }

.img {
 background-image: url('../../assets/comp.jpg');
 background-size: cover;
 border: #ffffff 5px solid;
}
.title {
 font-size: 1.1rem;
 font-weight: 500;
 color: blue;
}
.row {
  width: 100%;
  height: 100%;
}
.round {
  padding: 5vh;
}
@media only screen and (max-width: 1024px){
  .card {
  margin-top: 15vh;
  margin-left: 10%;
  height: 40vh;

}

}
@media only screen and (max-width: 768px){
  .card {
  margin-top: 15vh;
  height: 50vh;

}
.round {
  padding-top: 10vh;
}
}

@media only screen and (max-width: 375px)
 {
    .card {
  margin-top: 10vh;
  height: 60vh;

}
.hero {
width: 100%;
height: 80vh;
min-width: 100%;
position: relative;
}
 .form-cotrol {
    width: 90%;
  }
  .round {
  padding: 10vh 1.5vh 10vh 5vh;
}
 }
