<div class="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card ">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image img"></div>
              <div class="col-lg-6">
                <div class="round">
                  <div class="content text-center">
                    <h3 class="h4 text-gray-900 mb-4 title">Connectez vous!</h3>
                  </div>
                  <form (ngSubmit)="login()">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email" placeholder="Enter email" [(ngModel)]="user.email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        name="password" [(ngModel)]="user.password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/register" routerLinkActive="active">Créer votre compte!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
