<div class="container">
  <h3 mat-dialog-title class="title">Faire un don de 25€</h3>
  <mat-dialog-content>
    <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="name" placeholder="Nom">
      </mat-form-field>
      <div id="card-element" class="field"></div>
      <button class="btn btn-block btn-primary" type="submit">
        Payer
      </button>
    </form>
  </mat-dialog-content>
</div>
