
@import url('https://fonts.googleapis.com/css?family=Courgette|Niconne|Ubuntu:500&display=swap');

 button {
   margin-top: 2em;
}
input,
.StripeElement {
  height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #faf8c7 !important;
}
.title {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 2rem;
  color: #1a2fe7;
}
.image {
margin-left: 2em;
height: 2em;
}
@media only screen and (max-width: 375px) {
  .image {
margin-left: 1em;
height: 1em;
}
.title {
    font-size: 1.2rem;
 }
}
